*{
    text-align: center;
    background-color: #BF6A39;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
}
#labelinput input{
    width: 80%;
}
#labelinput label{
    width: 10%;
}
#labelinput{
    margin-top: 20px;
}
#check-button{
    width: 50%;

    margin: 20px auto;
}

